streamlit==1.30.0
streamlit-webrtc==0.47.0
av==10.0.0
opencv-python==4.8.1.78
mediapipe==0.10.0
pygame==2.3.0
gTTS==2.5.3
requests==2.32.3
streamlit-lottie==0.0.5
numpy==1.26.4
altair==5.4.1
pandas==2.2.2
