streamlit==1.38.0
streamlit-webrtc==0.47.7
av==10.0.0
opencv-python==4.10.0.84
mediapipe==0.10.11
pygame==2.6.1
gTTS==2.5.3
requests==2.32.3
streamlit-lottie==0.0.5
numpy==1.26.4
altair==5.4.1
pandas==2.2.2